@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 5, 20;
  --background-end-rgb: 15, 5, 60;
  --background-end-mobile-rgb: 5, 5, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 1024px) {
  body {
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-mobile-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}
